*.pyc
.venv
api_keys.json
config.py

conf/nginx.conf
conf/kms-api.service

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
node_modules
dist
dist-ssr
*.local
local/
# Editor directories and files
.vscode/
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Our stuff
.vite/
.certs/
.python-version
.env
__pycache__
.pytest_cache
.mypy_cache
.ruff_cache
