[Unit]
Description=KMS API Service
After=network.target

[Service]
WorkingDirectory={0}
ExecStart={0}/{1}/bin/uvicorn {2}:app --host {3} --port {4}
Restart=always

[Install]
WantedBy=multi-user.target